:root {
  --c-pl0: rgba(252, 120, 153, 1);
  --c-pl1: rgba(255, 254, 254, 1);
  --c-pl2: rgba(254, 165, 187, 1);
  --c-pl3: rgba(249, 82, 124, 1);
  --c-pl4: rgba(244, 47, 96, 1);

  --c-sl0: rgba(121, 202, 241, 1);
  --c-sl1: rgba(245, 252, 255, 1);
  --c-sl2: rgba(166, 222, 249, 1);
  --c-sl3: rgba(83, 182, 229, 1);
  --c-sl4: rgba(48, 157, 209, 1);

  --c-p0: rgba(137, 7, 40, 1);
  --c-p1: rgba(214, 1, 55, 1);
  --c-p2: rgba(170, 10, 50, 1);
  --c-p3: rgba(96, 0, 24, 1);
  --c-p4: rgba(57, 0, 14, 1);

  --c-s0: rgba(10, 67, 95, 1);
  --c-s1: rgba(8, 103, 148, 1);
  --c-s2: rgba(13, 83, 118, 1);
  --c-s3: rgba(3, 46, 67, 1);
  --c-s4: rgba(2, 27, 39, 1);

  --shade: rgba(96, 0, 24, 0.25);

  /* Variables for rest of system */
  --easing: cubic-bezier(0.2, 0.667, 0.2, 1);
  --duration: 0.3s;

  font-family: "Merriweather", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";

  --background-color: var(--c-pl1);
  background-color: var(--background-color);
  color: var(--c-p4);
  cursor: auto;

  --font-size: var(--s0);

  /* margins and heights */
  --line-height: var(--fluid-max-ratio);
  --line-height-sm: var(--fluid-min-ratio);
  --margin-xs: var(--s-4);
  --margin-sm: var(--s-2);
  --margin-md: var(--s0);
  --margin-lg: var(--s2);
  --margin-xl: var(--s4);
  --border-padding: 3px;

  --measure: 65ch;
  --stack-gap: var(--s0);
  --link-underline: var(--c-sl3);

  font-size: var(--font-size);
  line-height: var(--line-height);
}

::selection {
  background-color: var(--shade);
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

body {
  word-wrap: break-word;
  font-kerning: normal;
  font-variant-ligatures: common-ligatures contextual discretionary-ligatures;
}

main {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
}

a {
  color: currentColor;
}

a[href] {
  text-decoration-color: var(--link-underline);
  transition: box-shadow var(--duration) var(--easing);
}

a[href]:focus {
  outline: none;
}

a[href]:focus,
a[href]:hover {
  box-shadow: inset 0 -1.3em 0 0 var(--link-underline);
}

h1,
h2,
h3,
h4 {
  font-family: "Playfair Display", serif;
  text-transform: uppercase;
  line-height: var(--line-height-sm);
  font-weight: 700;
}

h1 {
  font-size: var(--s3);
}

h2 {
  font-size: var(--s2);
}

h3 {
  font-size: var(--s1);
}

h4 {
  font-size: var(--s0);
}

blockquote {
  padding-left: var(--margin-sm);
  border-left: var(--s-4) solid var(--c-p2);
  font-variant-caps: small-caps;
}

[href="#main"]:not(:focus),
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

/* Skip to main content */
a[href="#main"]:focus,
a[href="#main"]:active {
  position: absolute;
  top: 0;
  left: 0;
}

a[href="#main"]:focus,
a[href="#main"]:active {
  background-color: var(--background-color);
  color: var(--c-s4);
  padding: var(--margin-sm);
  border-width: var(--border-padding);
  border-color: var(--c-s4);
  font-weight: bold;

  --height: calc(
    -1 * (1em * var(--line-height) + var(--margin-sm) * 2 +
          var(--border-padding) * 2)
  );
  box-shadow: inset 0 var(--height) 0 0 var(--link-underline);
}

main[tabindex="-1"] {
  outline: none;
}

[href*="github"] > svg {
  height: 1.125em;
  width: 1.125em;
  display: flex;
  transition: filter var(--duration) var(--easing);
}

[href*="github"]:focus > svg,
[href*="github"]:hover > svg {
  filter: drop-shadow(0 0.1em 0 var(--link-underline));
}

svg {
  fill: currentColor;
}

/*
 * <https://every-layout.dev/layouts/cover/>
 */
.cover {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.cover > * {
  margin-block-start: var(--margin-md);
  margin-block-end: var(--margin-md);
}

.cover > :first-child:not(main) {
  margin-block-start: 0;
}

.cover > :last-child:not(main) {
  margin-block-end: 0;
}

.cover > main {
  margin-block-start: auto;
  margin-block-end: auto;
}

/*
 * Navigation
 */
ul.top-navigation {
  display: flex;
  align-items: center;
  overflow-x: auto;
}

.top-navigation li {
  flex-shrink: 0;
  padding-block-start: var(--margin-md);
  padding-block-end: var(--margin-md);
}

.top-navigation li + li,
.top-navigation .split + li {
  margin-left: var(--margin-md);
}

.top-navigation .split {
  margin-left: auto;
}

.wrapper {
  max-width: var(--measure);
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--margin-md);
  padding-right: var(--margin-md);
}

ul:not([class]),
.post-body > h2 + *,
.post-body > h3 + *,
.post-body > h4 + *,
.stack {
  --stack-gap: var(--s0);
}

.stack.-md {
  --stack-gap: var(--s1);
}

.stack.-lg {
  --stack-gap: var(--s2);
}

ul:not([class]) > li:not([class]) + li:not(class),
article > * + *,
.stack > * + * {
  margin-top: var(--stack-gap);
}

/**
 * Footer on bottom of page
 */
body {
  display: flex;
  flex-direction: column;
}

[role="contentinfo"] {
  margin-top: var(--margin-xl);
}
