body {
    background-color: var(--p2);
}

h1 {
    font-size: 15vw;
    text-align: center;

    color: var(--p4);
    letter-spacing: 0.05em;
    text-shadow: 0.075em 0.05em 0.01em var(--shade);
}

h1::selection {
    background-color: var(--shade);
}
