@font-face {
  font-family: "Exodus-Striped";
  src: url("/static/Exodus-Striped.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

:root {
  --text-color: var(--c-pl1);
  --background-color: var(--c-p3);
  --link-underline: var(--c-p2);
}

h1 {
  font-size: var(--s6);
  text-align: center;
  line-height: 1.125;
  font-family: "Exodus-Striped", serif;
  font-variant-caps: titling-caps;
  color: var(--c-p2);

  letter-spacing: 0.05em;
  text-shadow: 0.075em 0.05em 0.02em var(--shade);
}

header {
  height: 0;
}

main {
  flex: unset;
}
