/* @link https://utopia.fyi/generator-mk-ii?c=320,18,1.25,2160,26,1.5,9,4, */

:root {
  --s-4: clamp(0.4606rem, 0.4849rem + -0.1212vw, 0.3213rem); /* yee */
  --s-3: clamp(0.5763rem, 0.5928rem + -0.0826vw, 0.4813rem); /* no */
  --s-2: clamp(0.72rem, 0.7196rem + 0.0022vw, 0.7225rem); /* yee */
  --s-1: clamp(0.9rem, 0.8682rem + 0.1592vw, 1.0831rem); /* no */
  --s0: clamp(1.125rem, 1.038rem + 0.4348vw, 1.625rem); /* yee */
  --s1: clamp(1.4063rem, 1.2269rem + 0.8967vw, 2.4375rem); /* yee */
  --s2: clamp(1.7581rem, 1.428rem + 1.6505vw, 3.6563rem); /* yee */
  --s3: clamp(2.1975rem, 1.6259rem + 2.8582vw, 5.4844rem); /* yee */
  --s4: clamp(2.7469rem, 1.7938rem + 4.7652vw, 8.2269rem); /* yee */
  --s5: clamp(3.4331rem, 1.8841rem + 7.7451vw, 12.34rem); /* no */
  --s6: clamp(4.2913rem, 1.8184rem + 12.3641vw, 18.51rem); /* yee */
}

:root {
  --font-size: var(--s0);
  --line-height-sm: calc(var(--s-4) + 2ex);
  --line-height: calc(var(--s-4) + 4ex);
  --margin-xs: var(--s-4);
  --margin-sm: var(--s-2);
  --margin-md: var(--s0);
  --margin-lg: var(--s2);
  --margin-xl: var(--s4);
  --border-padding: 3px;

  --measure: 65ch;
  --stack-gap: var(--s0);
  --link-underline: var(--c-pl3);
}
