<!DOCTYPE html>
<html lang="en">
    <head>
        {{>site/templates/head.html}}
        <style>
            :root {
                --p2: rgba(170, 10, 50, 1);
            }
            body {
                background-color: var(--p2);
            }
        </style>
        <title>{{ siteTitle }}</title>
    </head>
    <body class="cover">
        {{>site/templates/header.html}}

        <main id="main" tabindex="-1">
            <h1>{{ siteTitle }}</h1>
        </main>

        {{>site/templates/footer.html}}
        <link rel="stylesheet" href="css/home.css" />
    </body>
</html>
