<!DOCTYPE html>
<html lang="en">
    <head>
        {{>site/templates/head.html}}
        <title>{{ title }}</title>
    </head>
    <body>
        {{>site/templates/header.html}}

        <main id="main" tabindex="-1">
            <aricle class="stack">
                <header>
                    <div class="wrapper stack">
                        <h1>{{ title }}</h1>
                        {{#image}}
                        <img src="/images/{{ image }}" />
                        {{/image}}
                        <span>{{ date }}</span>
                    </div>
                </header>
                <div class="wrapper stack -lg">{{{content}}}</div>
            </aricle>
        </main>
    </body>

    {{>site/templates/footer.html}}
</html>
